.avatar-wrapper {
  --size: 56px;
  --icon-size: 26px;
  --font: var(--text-xl-medium);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  gap: 10px;
}
.avatar-wrapper.avatar-xs {
  --size: 24px;
  --icon-size: 13px;
  --font: var(--text-xs-medium);
}
.avatar-wrapper.avatar-sm {
  --size: 32px;
  --icon-size: 16px;
  --font: var(--text-sm-medium);
}
.avatar-wrapper.avatar-md {
  --size: 40px;
  --icon-size: 20px;
  --font: var(--text-md-medium);
}
.avatar-wrapper.avatar-lg {
  --size: 48px;
  --icon-size: 23px;
  --font: var(--text-lg-medium);
}
.avatar-wrapper.avatar-xxl {
  --size: 64px;
  --font: var(--display-xs-medium);
}
.avatar-wrapper .avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  transition: opacity 150ms ease-in-out;
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 1;
  background-color: var(--brand-50);
}
.avatar-wrapper .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.avatar-wrapper .avatar-initials {
  color: var(--brand-500);
  font: var(--font);
  text-transform: uppercase;
}
.avatar-wrapper .avatar img, .avatar-wrapper .avatar-.initials {
  position: relative;
  z-index: 1;
}
.avatar-wrapper .avatar-initials i {
  width: var(--icon-size);
  height: var(--icon-size);
}
.avatar-wrapper .avatar a[href] {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.avatar-wrapper.clickable .avatar {
  cursor: pointer;
}
.avatar-wrapper.clickable .avatar:hover {
  opacity: 0.9;
}
.avatar-wrapper.clickable:focus .avatar {
  border: 1px solid var(--brand-500);
  box-shadow: var(--focus-shadow-xs-red);
}
