.alert {
  --border-left-color: var(--orange-500);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  overflow: hidden;
  border: 1px solid var(--gray-200);
  border-left-width: 0;
  border-radius: 4px;
  background-color: var(--base-white);
  box-shadow: var(--shadow-xs-gray);
  gap: 8px;
}
.alert::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--border-left-color);
}
.alert.success {
  --border-left-color: var(--green-600);
}
.alert.info {
  --border-left-color: var(--blue-500);
}
.alert.error {
  --border-left-color: var(--red-500);
}
.alert .content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 4px;
}
.alert .content-container .description {
  color: var(--gray-900);
  font: var(--text-sm-regular);
  padding-bottom: 4px;
}
.alert .icon {
  width: 18px;
  height: 18px;
  color: var(--orange-500);
}
.alert .icon.success {
  color: var(--green-600);
}
.alert .icon.info {
  color: var(--blue-500);
}
.alert .icon.error {
  color: var(--red-500);
}
.alert .close-button {
  padding: 0;
  color: var(--gray-500);
  cursor: pointer;
}
.alert .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 8px;
}
.alert .title {
  font: var(--text-sm-medium);
}
.alert .title.success {
  color: var(--green-600);
}
.alert .title.info {
  color: var(--blue-500);
}
.alert .title.error {
  color: var(--red-500);
}
.alert .title.warning {
  color: var(--orange-500);
}

.avatar-wrapper {
  --size: 56px;
  --icon-size: 26px;
  --font: var(--text-xl-medium);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  gap: 10px;
}
.avatar-wrapper.avatar-xs {
  --size: 24px;
  --icon-size: 13px;
  --font: var(--text-xs-medium);
}
.avatar-wrapper.avatar-sm {
  --size: 32px;
  --icon-size: 16px;
  --font: var(--text-sm-medium);
}
.avatar-wrapper.avatar-md {
  --size: 40px;
  --icon-size: 20px;
  --font: var(--text-md-medium);
}
.avatar-wrapper.avatar-lg {
  --size: 48px;
  --icon-size: 23px;
  --font: var(--text-lg-medium);
}
.avatar-wrapper.avatar-xxl {
  --size: 64px;
  --font: var(--display-xs-medium);
}
.avatar-wrapper .avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  transition: opacity 150ms ease-in-out;
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 1;
  background-color: var(--brand-50);
}
.avatar-wrapper .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.avatar-wrapper .avatar-initials {
  color: var(--brand-500);
  font: var(--font);
  text-transform: uppercase;
}
.avatar-wrapper .avatar img, .avatar-wrapper .avatar-.initials {
  position: relative;
  z-index: 1;
}
.avatar-wrapper .avatar-initials i {
  width: var(--icon-size);
  height: var(--icon-size);
}
.avatar-wrapper .avatar a[href] {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.avatar-wrapper.clickable .avatar {
  cursor: pointer;
}
.avatar-wrapper.clickable .avatar:hover {
  opacity: 0.9;
}
.avatar-wrapper.clickable:focus .avatar {
  border: 1px solid var(--brand-500);
  box-shadow: var(--focus-shadow-xs-red);
}

.badge {
  --background-color: var(--gray-300);
  --size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: min-content;
  height: var(--size);
  padding: 0 6px;
  border-radius: 100px;
  background-color: var(--background-color);
  color: var(--base-white);
  font: var(--text-sm-medium);
}
.badge.size-sm {
  --size: 20px;
}
.badge.size-md {
  --size: 24px;
}
.badge.state-neutral {
  --background-color: var(--gray-500);
}
.badge.state-danger {
  --background-color: var(--red-500);
}
.badge.state-info {
  --background-color: var(--blue-500);
}
.badge.state-warning {
  --background-color: var(--yellow-500);
}
.badge.state-success {
  --background-color: var(--green-600);
}

.button {
  --text-color: var(--base-white);
  --background-color: var(--base-black);
  --padding: 6px 12px;
  --border-radius: 8px;
  --text-style: var(--text-sm-medium);
  --border: none;
  --shadow: var(--shadow-xs-gray);
  --gap: 8px;
  display: flex;
  box-sizing: border-box;
  flex-direction: var(--icon-position);
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  cursor: pointer;
  gap: var(--gap);
}
.button.icon-only {
  aspect-ratio: 1;
}
.button.link {
  color: inherit;
  text-decoration: none;
}
.button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-color);
  font: var(--text-style);
}
.button.size-xxs {
  --padding: 4px 8px;
  --gap: 4px;
}
.button.size-xs {
  --padding: 6px 12px;
}
.button.size-xs, .button.size-xxs, .button.size-sm {
  --border-radius: 4px;
}
.button.size-sm {
  --padding: 8px 16px;
}
.button.size-md {
  --padding: 12px 16px;
}
.button.size-lg {
  --padding: 12px 24px;
  --text-style: var(--text-md-medium);
}
.button.size-xl {
  --padding: 13px 24px;
}
.button.size-2xl {
  --padding: 15px 32px;
}
.button.size-2xl, .button.size-xl {
  --text-style: var(--text-lg-medium);
}
.button.rounded {
  --border-radius: 100px;
}
.button:hover {
  border: var(--hover-border);
  background-color: var(--hover-background-color);
  box-shadow: var(--hover-shadow);
}
.button:hover .button-label {
  color: var(--hover-text-color);
}
.button:focus {
  border: var(--focus-border);
  background-color: var(--focus-background-color);
  box-shadow: var(--focus-shadow);
}
.button:focus .button-label {
  color: var(--focus-text-color);
}
.button:active {
  border: var(--active-border);
  background-color: var(--active-background-color);
  box-shadow: var(--active-shadow);
}
.button:active .button-label {
  color: var(--active-text-color);
}
.button:disabled {
  border: var(--disabled-border);
  background-color: var(--disabled-background-color);
  box-shadow: var(--disabled-shadow);
}
.button:disabled .button-label {
  color: var(--disabled-text-color);
}
.button.primary {
  --active-text-color: var(--base-white);
  --focus-text-color: var(--base-white);
  --hover-text-color: var(--base-white);
  --background-color: var(--brand-500);
  --hover-background-color: var(--brand-600);
  --active-background-color: var(--brand-800);
  --disabled-background-color: var(--gray-300);
  --focus-background-color: var(--brand-500);
  --focus-shadow: var(--focus-shadow-xs-brand);
  --disabled-shadow: none;
}
.button.destructive {
  --active-text-color: var(--base-white);
  --focus-text-color: var(--base-white);
  --hover-text-color: var(--base-white);
  --background-color: var(--red-500);
  --hover-background-color: var(--red-600);
  --active-background-color: var(--red-800);
  --disabled-background-color: var(--gray-300);
  --focus-background-color: var(--red-500);
  --focus-shadow: var(--focus-shadow-xs-red);
  --disabled-shadow: none;
}
.button.secondary {
  --text-color: var(--gray-900);
  --text-style: var(--text-sm-regular);
  --background-color: var(--base-white);
  --hover-background-color: var(--gray-50);
  --active-background-color: var(--gray-100);
  --focus-shadow: var(--focus-shadow-xs-brand);
  --border: 1px solid var(--gray-200);
  --focus-border: 1px solid var(--brand-500);
  --hover-border: 1px solid var(--gray-300);
  --active-border: 1px solid var(--gray-300);
  --disabled-text-color: var(--gray-300);
  --disabled-border: 1px solid var(--gray-200);
  --disabled-background-color: var(--base-white);
  --disabled-shadow: none;
}
.button.tertiary {
  --text-color: var(--gray-900);
  --text-style: var(--text-sm-regular);
  --disabled-text-color: var(--gray-300);
  --background-color: transparent;
  --hover-background-color: var(--gray-50);
  --active-background-color: var(--gray-100);
  --disabled-background-color: transparent;
  --shadow: none;
  --focus-shadow: var(--focus-no-shadow-brand);
}
.button.secondary.size-2xl, .button.tertiary.size-2xl, .button.secondary.size-xl, .button.tertiary.size-xl {
  --text-style: var(--text-lg-medium);
}
.button.secondary.size-lg, .button.tertiary.size-lg {
  --text-style: var(--text-md-medium);
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  outline: none;
  background-color: var(--base-white);
  cursor: pointer;
}
.action-button i {
  width: 18px;
  height: 18px;
  color: var(--gray-500);
}
.action-button:hover, .action-button:active {
  border: 1px solid var(--gray-300);
  background-color: var(--gray-50);
}
.action-button:focus {
  border: 1px solid var(--brand-500);
  box-shadow: var(--focus-shadow-xs-brand);
}

.checkbox-content {
  display: flex;
  align-items: center;
}
.checkbox-content .label {
  display: inline-block;
  flex: 1;
  font: var(--text-sm-regular);
  cursor: pointer;
}
.checkbox-content .checkbox {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.checkbox-content .checkbox.has-label {
  margin-inline-end: 8px;
}
.checkbox-content .checkbox .input {
  position: absolute;
  opacity: 0;
}
.checkbox-content .checkbox .checkmark {
  display: grid;
  width: 16px;
  height: 16px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  background-color: var(--base-white);
  box-shadow: var(--shadow-xs-gray);
  place-items: center;
}
.checkbox-content .checkbox .checkmark i {
  display: none;
  width: 14px;
  height: 14px;
  color: var(--base-white);
}
.checkbox-content .checkbox input:checked ~ .checkmark {
  border: 1px solid transparent;
  background-color: var(--brand-500);
}
.checkbox-content .checkbox input:checked ~ .checkmark i {
  display: inline-block;
}
.checkbox-content .checkbox input:disabled ~ .checkmark {
  border: 1px solid var(--gray-200);
  background: var(--base-white);
  box-shadow: none;
  cursor: default;
}
.checkbox-content .checkbox input:enabled:is(:focus, :active) ~ .checkmark {
  box-shadow: var(--focus-shadow-xs-brand);
}
.checkbox-content:hover .checkbox input:enabled ~ .checkmark {
  background-color: var(--gray-50);
}
.checkbox-content .checkbox input:disabled:checked ~ .checkmark {
  background-color: var(--gray-100);
}
.checkbox-content:hover .checkbox input:enabled:checked ~ .checkmark {
  background-color: var(--brand-600);
}
.checkbox-content .checkbox:has(.input:disabled) ~ .label {
  color: var(--gray-300);
}

.radio-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 8px;
}
.radio-list .radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11.5px 16px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  box-shadow: var(--shadow-xs-gray);
  cursor: pointer;
}
.radio-list .radio-item .name,
.radio-list .radio-item .suffix {
  color: var(--gray-900);
  font: var(--text-sm-regular);
}
.radio-list .radio-item .name {
  flex-grow: 1;
}
.radio-list .radio-item .trigger {
  width: 14px;
  height: 14px;
  margin: 0;
  transition: 75ms all linear;
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  outline: 2px solid var(--base-white);
  background-color: var(--base-white);
  appearance: none;
}
.radio-list .radio-item .trigger:hover {
  border-color: var(--gray-300);
  background-color: var(--gray-50);
}
.radio-list .radio-item .trigger:active {
  background-color: var(--gray-100);
}
.radio-list .radio-item .trigger:checked {
  border: 3px solid var(--base-white);
  outline-color: var(--brand-500);
  background-color: var(--brand-500);
}
