.radio-group {
  all: unset;
  box-sizing: border-box;
}
.radio-group__item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 8px;
}
.radio-group__item__label {
  color: var(--gray-900);
  font: var(--text-sm-regular);
  cursor: pointer;
}
.radio-group__item__trigger {
  width: 18px;
  height: 18px;
  margin: 0;
  transition: 75ms all linear;
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  background-color: var(--base-white);
  appearance: none;
  cursor: pointer;
}
.radio-group__item__trigger:hover {
  border-color: var(--gray-300);
  background-color: var(--gray-50);
}
.radio-group__item__trigger:active {
  background-color: var(--gray-100);
}
.radio-group__item__trigger:checked {
  border: 4px solid var(--brand-500);
}
.radio-group__item__trigger:checked:hover {
  border-color: var(--brand-600);
}
