@font-face {
  font-family: 'Mona-sans';
  src: url("https://ui-assets.ycdn.store/fonts/Mona-Sans.ttf");
}

@font-face {
  font-family: 'DroidKufi';
  src: url("https://ui-assets.ycdn.store/fonts/DroidKufi-Regular.ttf");
}
