// Variables
$transition-duration: 0.3s;
$underline-offset: 8px;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

// Breadcrumbs styles
.breadcrumbs {
  @include flex-center;

  list-style: none;

  .crumb {
    @include flex-center;

    font: var(--text-md-medium);

    .dropdown-crumbs {
      color: var(--gray-900);
      text-decoration: none;
    }

    .separator {
      margin: 0 5px;
      transition: color $transition-duration ease;
      color: var(--gray-400);
    }
  }

  .dropdown-item:hover > .separator,
  .crumb:last-child:hover > .separator {
    color: var(--gray-400);
  }
}

.crumb-item {
  transition: color $transition-duration ease;
  color: var(--gray-400);
  text-decoration: none;

  &:hover {
    color: var(--brand-400);
    text-decoration: underline;
    text-underline-offset: $underline-offset;
  }
}

.current {
  color: var(--base-black);

  &:hover {
    color: var(--base-black);
    text-decoration: none;
  }
}
