$transition-duration: 0.3s;
$underline-offset: 8px;
$separator-spacing: 5px;

.breadcrumbs {
  $root: &;

  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    font: var(--text-md-medium);

    &--dropdown {
      &:hover {
        #{$root}__separator {
          color: var(--gray-400);
        }
      }
    }

    &:last-child {
      &:hover {
        #{$root}__separator {
          color: var(--gray-400);
        }
      }
    }
  }

  &__separator {
    margin: 0 $separator-spacing;
    transition: color $transition-duration ease;
    color: var(--gray-400);
  }

  &__link {
    transition: color $transition-duration ease;
    color: var(--gray-400);
    text-decoration: none;

    &:hover {
      color: var(--brand-400);
      text-decoration: underline;
      text-underline-offset: $underline-offset;
    }

    &--current {
      color: var(--base-black);

      &:hover {
        color: var(--base-black);
        text-decoration: none;
      }
    }
  }

  &__dropdown-link {
    color: var(--gray-900);
    text-decoration: none;
  }
}
