@use "sass:map";

$border-radius: 4px;
$icon-size: 20px;
$sizes: (
  "small": 40px,
  "large": 44px
);

.thumbnail {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: var(--size, map.get($sizes, "small"));
  height: var(--size, map.get($sizes, "small"));
  overflow: hidden;
  border: 1px solid var(--gray-200);
  border-radius: $border-radius;
  background-color: var(--base-white);
  box-shadow: var(--shadow-xs-gray);

  &--small {
    --size: #{map.get($sizes, "small")};
  }

  &--large {
    --size: #{map.get($sizes, "large")};
  }

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: v-bind(objectfit);
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__icon {
    display: block;
    width: $icon-size;
    height: $icon-size;
    color: var(--gray-300);
  }
}
