.tooltip {
  display: inline-block;
  position: relative;

  &__triggered {
    visibility: hidden;
    position: fixed;
    z-index: 9999999999;
    width: max-content;
    max-width: 200px;
    padding: 8px 12px;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
    border-radius: 4px;
    opacity: 0;
    background-color: var(--base-black);
    color: var(--base-white);
    font: var(--text-xs-regular);

    &--hide {
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }

  &:hover {
    .tooltip__triggered {
      visibility: visible;
      transition-delay: 0.2s;
      opacity: 1;
    }
  }
}
