:root {
--base-black: #000000;
--base-white: #FFFFFF;
--brand-50: #FCEEF5;
--brand-100: #F6D5E6;
--brand-200: #EDA6C9;
--brand-300: #E373AB;
--brand-400: #D9408C;
--brand-500: #B8256E;
--brand-600: #951E59;
--brand-700: #480F2B;
--brand-800: #480F2B;
--brand-900: #260817;
--gray-50: #F7F7F7;
--gray-100: #E3E3E3;
--gray-200: #C8C8C8;
--gray-300: #A4A4A4;
--gray-400: #818181;
--gray-500: #666666;
--gray-600: #515151;
--gray-700: #434343;
--gray-800: #383838;
--gray-900: #111111;
--green-50: #EEFBF2;
--green-100: #D5F6E4;
--green-200: #A6EDC7;
--green-300: #73E3A7;
--green-400: #40D987;
--green-500: #25B86A;
--green-600: #1E9555;
--green-700: #166E3F;
--green-800: #0F4829;
--green-900: #082616;
--blue-50: #F6FAFE;
--blue-100: #E3F0FD;
--blue-200: #B8DAF9;
--blue-300: #92C6F6;
--blue-400: #68B0F3;
--blue-500: #419AF0;
--blue-600: #127EE3;
--blue-700: #0D5EAA;
--blue-800: #093F71;
--blue-900: #041F39;
--yellow-50: #FEF9F0;
--yellow-100: #FDEFD8;
--yellow-200: #FAD9A3;
--yellow-300: #F7C573;
--yellow-400: #F5B042;
--yellow-500: #F2990E;
--yellow-600: #C27B0A;
--yellow-700: #915D08;
--yellow-800: #613E05;
--yellow-900: #301F03;
--red-50: #FCF2F2;
--red-100: #F7D9D9;
--red-200: #EEAAAA;
--red-300: #E58080;
--red-400: #DC5151;
--red-500: #CC2929;
--red-600: #A12020;
--red-700: #7B1919;
--red-800: #511010;
--red-900: #2A0909;
--shadow-xs: 0px 1px 2px 0px #3333330d;
--shadow-sm: 0px 1px 2px -1px #3333331a, 0px 1px 3px 0px #3333331a;
--shadow-md: 0px 2px 4px -2px #3333331a, 0px 4px 6px -1px #3333331a;
--shadow-lg: 0px 4px 6px -4px #3333331a, 0px 10px 15px -3px #3333331a;
--shadow-xl: 0px 8px 10px -6px #3333331a, 0px 20px 25px -5px #3333331a;
--shadow-2-xl: 0px 25px 50px -12px #33333340;
--focus-xs-brand: 0px 1px 2px 0px #3333330d, 0px 0px 0px 3px #f8d2eb;
--focus-xs-red: 0px 1px 2px 0px #3333330d, 0px 0px 0px 3px #fccccc;
--focus-sm-brand: 0px 1px 2px -1px #3333331a, 0px 1px 3px 0px #3333331a, 0px 0px 0px 3px #f8d2eb;
--focus-sm-red: 0px 1px 2px -1px #3333331a, 0px 1px 3px 0px #3333331a, 0px 0px 0px 3px #fccccc;
--display-2-xl-regular: 400 72px "Satoshi";
--display-2-xl-medium: 500 72px "Satoshi";
--display-2-xl-bold: 700 72px "Satoshi";
--display-2-xl-black: 800 72px "Satoshi";
--display-xl-regular: 400 60px "Satoshi";
--display-xl-medium: 500 60px "Satoshi";
--display-xl-bold: 700 60px "Satoshi";
--display-xl-black: 800 60px "Satoshi";
--display-lg-regular: 400 48px "Satoshi";
--display-lg-medium: 500 48px "Satoshi";
--display-lg-bold: 700 48px "Satoshi";
--display-lg-black: 800 48px "Satoshi";
--display-md-regular: 400 36px "Satoshi";
--display-md-medium: 500 36px "Satoshi";
--display-md-bold: 700 36px "Satoshi";
--display-md-black: 800 36px "Satoshi";
--display-sm-regular: 400 28px "Satoshi";
--display-sm-medium: 500 28px "Satoshi";
--display-sm-bold: 700 28px "Satoshi";
--display-sm-black: 800 28px "Satoshi";
--display-xs-regular: 400 24px "Satoshi";
--display-xs-medium: 500 24px "Satoshi";
--display-xs-bold: 700 24px "Satoshi";
--display-xs-black: 800 24px "Satoshi";
--text-xl-regular: 400 20px/150% "Satoshi";
--text-xl-medium: 500 20px/150% "Satoshi";
--text-xl-bold: 700 20px/150% "Satoshi";
--text-xl-black: 800 20px/150% "Satoshi";
--text-lg-regular: 400 18px/150% "Satoshi";
--text-lg-medium: 500 18px/150% "Satoshi";
--text-lg-bold: 700 18px/150% "Satoshi";
--text-lg-black: 800 18px/150% "Satoshi";
--text-md-regular: 400 16px/150% "Satoshi";
--text-md-medium: 500 16px/150% "Satoshi";
--text-md-bold: 700 16px/150% "Satoshi";
--text-md-black: 800 16px/150% "Satoshi";
--text-sm-regular: 400 14px/150% "Satoshi";
--text-sm-medium: 500 14px/150% "Satoshi";
--text-sm-bold: 700 14px/150% "Satoshi";
--text-sm-black: 800 14px/150% "Satoshi";
--text-xs-regular: 400 12px/150% "Satoshi";
--text-xs-medium: 500 12px/150% "Satoshi";
--text-xs-bold: 700 12px/150% "Satoshi";
--text-xs-black: 800 12px/150% "Satoshi";
}